@charset "UTF-8";
html, body { font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif; height: 100%; }

* { list-style: none; margin: 0; padding: 0; text-decoration: none; }

/*------------logo--------------*/
.logo { display: block; background: url("../img/register/logo.png") no-repeat; height: 43px; line-height: 43px; padding-left: 46px; margin: 18px 0 0 30px; font-size: 36px; color: #000; z-index: 2; position: fixed; }

/*------------轮播------------------*/
#banner { width: 480px; height: 100%; position: fixed; left: 0; top: 0; float: left; overflow: hidden; background: url("../img/register/1.jpg") no-repeat; background-size: cover; }

/*------------头部------------------*/
#header { position: relative; }
#header > div { float: right; margin: 20px 40px 0 0; font-size: 16px; padding: 10px 0 0; line-height: 24px; }
#header .feedback { margin-right: 60px; }
#header .feedback a { color: #000; opacity: .6; text-align: right; }
#header .feedback a:hover { opacity: 1; }
#header .chinese { color: #000; position: relative; }
#header .chinese div { opacity: .6; }
#header .chinese div .down { display: inline-block; }
#header .chinese div .up { display: none; }
#header .chinese ul { position: absolute; display: none; padding-top: 8px; text-align: left; }
#header .chinese ul li { opacity: .6; padding-top: 16px; }
#header .emailName a { opacity: .6; color: #000; display: block; background: url("../img/register/mail-entry.png") no-repeat; height: 15px; line-height: 15px; padding: 0 0 0 25px; margin: 4.5px 0; }
#header .emailName a:hover { opacity: 1; }
#header .lianghao { padding: 0; position: relative; }
#header .lianghao a { display: block; float: right; position: relative; }
#header .lianghao a div { border-radius: 6px; background: linear-gradient(126deg, #fc4754, #ff794c) #f54444; height: 24px; line-height: 24px; font-size: 16px; margin: 10px 0 0 5px; padding: 0 10px 0 24px; color: #fff; font-weight: 300; }
#header .lianghao a img { position: absolute; left: 0; bottom: 0; }
#header .lianghao .lianghao_yc { position: absolute; right: 0; top: 100%; display: none; clear: both; width: 290px; border-radius: 6px; border: solid 1px #eee; background-color: #fff; box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12); overflow: hidden; padding: 0; }
#header .lianghao .lianghao_yc .upper { border-bottom: 1px solid #f0f0f0; height: 49px; position: relative; }
#header .lianghao .lianghao_yc .upper a { display: block; height: 49px; width: 40px; border-left: 1px solid #eee; float: right; }
#header .lianghao .lianghao_yc .upper a img { position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; }
#header .lianghao .lianghao_yc .upper a:hover { background: orangered; }
#header .lianghao .lianghao_yc .upper input { border: none; width: 229px; height: 49px; line-height: 49px; font-size: 16px; padding: 0 10px; }
#header .lianghao .lianghao_yc .downer { padding-top: 24px; font-size: 16px; text-align: center; line-height: 16px; }
#header .lianghao .lianghao_yc .downer div { overflow: hidden; margin-bottom: 24px; }
#header .lianghao .lianghao_yc .downer a { display: inline; float: none; margin: 0 5px; color: #359eff; }
#header::after { content: ''; display: block; height: 0; clear: both; }

/*------------主体------------------*/
#main_wrap { margin-left: 480px; margin-top: 50px; }

#main { width: 480px; margin: 0 auto; }
#main #main_top .main_top_top { font-size: 44px; margin-bottom: 20px; }
#main #main_top .main_top_bot { line-height: 1.2; }
#main #main_top .main_top_bot a { display: block; float: right; font-size: 24px; color: #359eff; }
#main #main_top .main_top_bot a:hover { color: #2b72ff; }
#main #main_top .main_top_bot h3 { font-size: 28px; margin-bottom: 64px; color: #333; font-weight: normal; }
#main #main_min input { margin-top: 24px; border: 1px #aaa solid; border-radius: 4px; text-align: left; font-size: 20px; width: 438px; height: 50px; line-height: 50px; padding: 0 20px; }
#main #main_min input:hover { border-color: #777; }
#main #main_min #uname { margin-top: 0; }
#main #main_min #telphone { margin-top: 24px; height: 52px; }
#main #main_min #telphone .phone_show { width: 154px; height: 52px; position: relative; float: left; }
#main #main_min #telphone .phone_show input { margin-top: 0; width: 112px; }
#main #main_min #telphone .phone_show div { position: absolute; right: 0; top: 0; height: 52px; line-height: 52px; padding-right: 12px; }
#main #main_min #telphone .phone_show div #upImg { display: none; }
#main #main_min #telphone .phone_show ul { display: none; position: absolute; width: 480px; height: 200px; border: 1px solid #b2b2b2; background: #fff; font-size: 20px; overflow-y: scroll; }
#main #main_min #telphone .phone_show ul li { cursor: pointer; padding: 0 20px; line-height: 48px; height: 48px; }
#main #main_min #telphone .phone_show ul li:hover { background: #eee; }
#main #main_min #telphone .phone { float: right; margin: 0; }
#main #main_min #telphone .phone input { margin: 0; width: 265px; }
#main #main_min .ts { height: 14px; font-size: 14px; color: #999; margin-top: 8px; line-height: 14px; }
#main #main_min .yzm { display: none; height: 60px; margin-top: 24px; }
#main #main_min .yzm a { display: block; width: 307px; height: 50px; border: 1px solid #3083ff; background: #3487ff; text-align: center; color: #fff; float: right; font-size: 20px; line-height: 50px; border-radius: 4px; }
#main #main_min .yzm input { width: 112px; margin: 0; }
#main #main_min #btn { width: 476px; height: 60px; background: #3487ff; color: #fff; font-size: 24px; margin: 40px 0 8px; border: 1px #3083ff solid; border-radius: 4px; }
#main #main_min #btn:hover { background-color: #3580eb; }
#main #main_min p { display: none; padding-top: 8px; padding-left: 24px; height: 18px; font-size: 14px; position: relative; line-height: 18px; background: url("../img/register/info.png") no-repeat 0 8px; }
#main #main_min .red { color: #ff5b5b; background: url("../img/register/error.png") no-repeat 0 8px; }
#main #main_bot { height: 114px; margin-top: 16px; line-height: 18px; font-size: 14px; }
#main #main_bot label { line-height: 30px; font-size: 13px; color: #aaa; }
#main #main_bot label img { vertical-align: middle; }
#main #main_bot label .nr { display: none; }

#footer { font-size: 14px; color: #bbb; text-align: center; margin: 30px 0; }

/*# sourceMappingURL=register.css.map */
