@charset"UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
}
body{
    background: #f3f4f6 url(../img/wrap_bg.png) no-repeat 0 185px;
    font: 12px/1.6em Microsoft YaHei,Tahoma,simsun;
    color: #3a3f4a;
}
@mixin head($w,$h) {
    width: $w;
    height: $h;
    margin: 0 auto;
}
#fix{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 20px 215px 0;
    z-index: 9999999;
    a{
        display: block;
        border: 1px solid #e1e1e1;
        background: #fff;
        width: 68px;
        padding: 7px 0;
        text-align: center;
        margin-top: 3px;
        color: #3a3f4a;
        i{
            display: block;
            width: 30px;
            height: 30px;
            background: url('../img/bg.png') no-repeat -122px -153px;
            margin: 0 auto;
        }
    }
}
#header{
    width: 100%;
    background: #f9f9f9;
}
header{
    @include head(1190px,30px);

    color:#666;
    em{
        background: url("../img/icon.png");
        display: block;
    }
    a{
        color:#666;
        line-height: 30px;
        em{
            float: left;
            width: 11px;
            height: 15px;
            margin: 7px 3px 0 0;
        }
        &:hover{
            color: #f74a4a;
            text-decoration: underline;
        }
    }
    i{
        margin: 0 10px;
        line-height: 30px;
        color: #e7e7e7;
        font-style: normal;
    }
    #head_left{
        li{
            float: left;
        }
        i{
            float: left;
        }
    }
    #head_right{
        width: 600px;
        float: right;
        div{
            float: right;
            position: relative;
            p{
                padding-bottom: 5px;
                width: 94px;
                background: #fff;
                position: absolute;
                display:none;
                top: 1px;
                left: -11px;
                z-index: 1;
                border: 1px solid #e7e7e7;
                a{
                    display: block;
                    margin-top: 26px;
                    padding-left: 10px;
                    line-height: 26px;
                    height: 26px;
                }
            }
            .games{
                position: absolute;
                font: normal 12px Tahoma, "simsun";
                width: 828px;
                top: 26px;
                right: 0;
                z-index: 10000;
                display: none;
                .games_top{
                    height: 11px;
                    padding-left: 7px;
                    background: url('../img/gamearea.png') no-repeat;
                    overflow: hidden;
                    span{
                        display: block;
                        width: 820px;
                        height: 11px;
                        background: url('../img/gamearea.png') no-repeat 100% 0;
                    }
                }
                .games_main{
                    float: left;
                    background: url('../img/gamearea.png') no-repeat 0 bottom;
                    padding-left:8px; 
                    .games_inner{
                        float: left;
                        background: url('../img/gamearea.png') no-repeat 100% bottom;
                        overflow: hidden;
                        padding: 0 8px 7px 0;
                        .games_names{
                            float: left;
                            h2{
                                height: 33px;
                                line-height: 33px;
                                background: url('../img/gamearea.png') no-repeat 0 -13px;
                                font-size: 12px;
                                color: #0096d0;
                                text-indent: 8px;
                                border: 1px solid #d6d6d6;
                                border-top: 0;
                                border-left: 0;  
                            }
                            div{
                                width: 102px;
                                float: left;
                                margin: 0 -1px 0 0;
                                a{
                                    display: block;
                                    width: 85px;
                                    height: 27px;
                                    padding: 0 8px;
                                    line-height: 27px;
                                    background:url('../img/gamearea.png') no-repeat 0 -19px;
                                    color: #464646;
                                    text-decoration: none;
                                    border: 1px solid #d6d6d6;
                                    border-top: 0;
                                    border-left: 0;
                                    &:hover{
                                        color: #0896D4;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        i{
            float: right;
        }
        a{
            position: relative;
            z-index: 2;
            em{
                height: 13px;
                float: right;
                margin:7px 0 0 12px;
                background-position: 0 -52px;
            }
        }
        #right_last{
            display: block;
            margin-top: 5px;
            padding-left: 8px;
            line-height: 21px;
            width: 72px;
            height: 21px;
            background: url('../img/icon.png') no-repeat -20px -334px;
        }
    }
}
#toper{
    width: 100%;
    background: #fff;
}
#top{
    @include head(1190px,78px);
    padding: 10px 0 20px 0;
    .logo{
        background: url(../img/bg.png) no-repeat;
        width: 320px;
        height: 65px;
        display: block; 
        margin-top: 5px;
        float: left;
    }
    .search{
        margin: 10px 0 0 110px;
        width: 490px;
        display: inline;
        float: left;
        .text{
            width: 450px;
            height: 34px;
            border: 2px solid #f74a4a;
            border-right: none;
            float: left;
            position: relative;
            .meun_wrap{
                .meun{
                    display: block;
                    position: relative;
                    width: 116px;
                    height: 31px;
                    float: left;
                    color: #333;
                    border-right: 1px solid #efefef;
                    border-bottom: 3px solid #efefef;
                    text-align: center;
                    line-height: 31px;
                    em{
                        background:url('../img/icon.png') no-repeat 0 -25px;
                        float: right;
                        width: 10px;
                        height: 6px;
                        display: block;
                        margin: 15px 10px 0 0;
                    }
                }
                .meun_games{
                    display: none;
                    position: absolute;
                    z-index: 1;
                    top: 36px;
                    left: 0;
                    border: 1px solid #e5e5e5;
                    border-top: none;
                    width: 395px;
                    padding: 0 10px;
                    background: #fff;
                    dl{
                        border-top: 1px solid #e5e5e5;
                        padding: 10px;
                        margin-top: -1px;
                        line-height: 26px;
                        &:first-child{
                            border-top:none;
                        }
                        dt{
                            float: left;
                            font-weight: bold;
                        }
                        dd{
                            margin-left: 70px;
                            a{
                                display: block;
                                float: left;
                                color: #3a3f4a;
                                &:hover{
                                    color:#f74a4a;
                                    text-decoration: underline;
                                }
                            }
                            i{
                                float: left;
                                font-style: normal;
                                margin: 0 5px;
                            }
                            &::after{
                                content: '\20';
                                display: block;
                                height: 0;
                                clear: both;
                            }
                        }
                    }
                }
            }
            
            input{
                width: 313px;
                height: 32px;
                padding: 2px 10px 0 10px;
                line-height: 30px;
                float: left;
                color: #aaa8a8;
                border: 0;
            }
        }
        button{
            width: 38px;
            height: 38px;
            border: 0;
            background: url('../img/btn.png') no-repeat ;
            cursor: pointer;
            float: right;
            &:hover{
                background-position-x:-39px;
            }
        }
    }
    .tuiguang{
        background: url('../img/codeznq.png') no-repeat;
        margin: -10px 0 -20px 0;
        width: 229px;
        height: 108px;
        float: right;
        a{
            display: block;
            width: 129px;
            height: 108px;
        }
    }
}
#naver{
    width: 100%;
    background: #3a3f4a;
}
nav{
    @include head(1190px,54px);
    color: #acb1bb;
    .all_game{
        width: 190px;
        height: 54px;
        float: left;
        text-align: center;
        position: relative;
        a{
            color: #acb1bb;
            font: 16px/32px 'Microsoft Yahei','黑体';
            display: block;
            height: 41px;
            padding-top: 10px;
            border-bottom: 3px solid #3a3f4a;
        }
        .box{
            position: absolute;
            top: 0;
            left: 0;
            text-align: left;
            em{
                background: url('../img/icon.png') no-repeat;
                float: left;
                width: 25px;
                height: 25px;
                margin: 21px 10px 0 22px;
            }
            i{
                width: 8px;
                height: 11px;
                background: url('../img/icon.png') no-repeat -178px -178px;
                position: absolute;
                top: 28px;
                right: 10px;
                overflow: hidden;
            }
            .box_top{
                dt{
                    background: #eb4c4c;
                    color: #ff9191;
                    height: 54px;
                    border: 0;
                    width: 190px;
                    line-height: 54px;
                    font-size: 16px;
                    box-shadow: 2px 0 0 rgba(0,0,0,.08);
                    em{
                        background-position:6px -178px;
                        margin-top: 14px;
                    }
                }
            }
            .box_bot{
                dt{
                    width: 189px;
                    height: 64px;
                    color: #fff;
                    background: #f55656;
                    border: 1px solid #f55656;
                    border-bottom: 1px solid #ee4545;
                    border-right: 0;
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 64px;
                    position: relative;
                    
                }
                dd{
                    display: none;
                    position: absolute;
                    z-index: 100;
                    left: 190px;
                    top: 54px;
                    background: #fff;
                    border: 1px solid #e5e5e5;
                    overflow: hidden;
                    border-left: none;
                    padding: 6px 0 7px 0;
                    width: 250px;
                    .box_bot_con{
                        background: url('../img/nav_box.png') repeat-y -8px 0;
                        height: 315px;
                        .box_bot_con_1{
                            float: left;
                            width: 125px;
                            a{
                                font:14px/35px 'Microsoft Yahei','黑体';
                                height: 35px;
                                width: 95px;
                                padding: 0 15px;
                                border: none;
                                color:#3a3f4a;
                                &:hover{
                                    color: #f74a4a;
                                    text-decoration: underline;
                                }
                            }
                        }
                        &::after{
                            content: '\20';
                            display: block;
                            height: 0;
                            clear: both;
                        }
                    }
                }
                &:hover dd{
                    display: block;
                }
                &:hover dt{
                    background: #fff;
                    color: #3a3f4a;
                    border-color: #e5e5e5;
                }
                &:hover i{
                    background-position-y: -207px
                }
                &:hover em{
                    background-position-y: -207px
                }
                .a1{
                    background-position: -148px -178px;
                }
                .a2{
                    background-position: -28px -178px;
                }
                .a3{
                    background-position: -60px -178px;
                }
                .a4{
                    background-position: -88px -178px;
                }
                .a5{
                    background-position: -119px -178px;
                }
            }
        }
    }
    ul{
        width: 760px;
        float: left;
        li{
            width: 126px;
            float: left;
            text-align: center;
            position: relative;
            a{
                display: block;
                font: 16px/32px 'Microsoft Yahei','黑体';
                height: 41px;
                color: #acb1bb;
                padding-top:10px;
                border-bottom: 3px solid #3a3f4a;
                &:hover{
                    background: #f74a4a;
                    border-color: #ce3535;
                    color: #fff;
                }
            }
            ul{
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background: #fff;
                z-index: 1000;
                li{
                    a{
                        line-height: 41px;
                        color: #3a3f4a;
                        padding-top:0;
                        border-bottom: none;
                        font-size: 14px;
                        &:hover{
                            color:#f74a4a;
                            background: none;
                        }
                    }
                }
            }
            &:hover ul{
                display: block;
            }
        }
    }
    .car{
        float: right;
        position: relative;
        height: 100%;
        a{
            display: inline-block;
            height: 30px;
            padding: 7px 0 4px 0;
            line-height: 30px;
            width: 230px;
            margin-top: 5px;
            font-size: 16px;
            text-align: left;
            background: #f74a4a;
            color: #fff;
            border-bottom: 2px solid #e4333333;
            em{
                display: block;
                float: left;
                width: 20px;
                height: 16px;
                margin: 8px 8px 0 42px;
                background: url('../img/icon.png') no-repeat -60px -20px;
            }
            #carNum{
                display: block;
                float: right;
                width: 60px;
                border-left: 1px solid #e04040;
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                text-align: center;
            }
        }
        .car_box{
            display: none;
            width: 590px;
            position: absolute;
            z-index: 1000;
            padding: 2px 2px 0 2px;
            border: 1px solid #e8e8e8;
            border-bottom: none;
            background: #fff;
            right: 0;
            top: 49px;
            overflow-y: auto;
            table{
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                th{
                    background: #f7f7f7;
                    height: 34px;
                    text-align: left;
                    padding:0 15px;
                }
                tbody{
                    border-bottom:1px solid #e8e8e8;
                    td{
                        line-height: 40px;
                        text-align: left;
                        padding:15px 15px 0 15px;
                    }
                }
            }
        }
        &:hover .car_box{
            display: block;
        }
    }
}
#mainer{
    width: 100%;
    margin-bottom: 20px;
}
#main{
    @include head(1190px,330px);
    #banner{
        width: 770px;
        height: 330px;
        margin-left: 190px;
        position: relative;
        overflow: hidden;
        float: left;
        #pic{
            left: 0;
            position: absolute;
            .lb{
                float: left;
                position: relative;
                a{
                    display: block;
                }
                img{
                    display: block;
                }
                s{
                    display: block;
                    width: 770px;
                    height: 40px;
                    background: #000;
                    opacity: .6;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
                p{
                    position: absolute;
                    width: 750px;
                    padding: 0 10px;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        .dot{
            position: absolute;
            bottom: 10px;
            right: 20px;
            text-align: right;
            a{
                display: inline-block;
                width: 12px;
                height: 12px;
                overflow: hidden;
                background: #fff;
                margin-left: 6px;
            }
            .curr{
                background: #f74a4a;
            }
        }
    }
    #asid{
        background: #fff;
        width: 230px;
        float: right;
        #person{
            .person_top{
                .person_top_con{
                    margin: 0 5px;
                    padding: 15px 0 15px 10px;
                    height: 56px;
                    overflow: hidden;
                    border-bottom: 1px solid #efefef;
                    .user_img{
                        margin-top: 3px;
                        float: left;
                        img{
                            display: block;
                            width:46px;
                            height: 46px;
                            border-radius: 23px;

                        }
                    }
                    .gray{
                        margin-left: 55px;
                        line-height: 18px;
                        color: #999;
                        a{
                            color: #1994eb;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .person_bot{
                padding: 7px 0 10px 10px;
                margin: 0 5px;
                height: 100px;
                width: 210px;
                overflow: hidden;
                border-bottom: 1px solid #efefef;
                h5{
                    font-weight: bold;
                    line-height: 20px;
                    padding-bottom: 2px;
                    font-size: 100%;
                }
                ul{
                    li{
                        float: left;
                        width: 50px;
                        margin: 5px 20px 0 0 ;
                        text-align: center;
                        a{
                            color: #3a3f4a;
                            img{
                                display: block;
                                width:50px;
                                height: 50px;
                                border: none;
                            }
                            span{
                                display: block;
                                line-height: 20px;
                                height: 20px;
                                overflow: hidden;
                            }
                            &:hover{
                                color: #f74a4a;
                                text-decoration: underline;
                            }
                        }
                    }
                    &::after{
                        content: '\20';
                        display: block;
                        height: 0;
                        clear: both;
                    }
                }
            }
        }
        .aritical{
            padding: 7px 0 10px 10px;
            margin: 0 5px;
            height: 100px;
            width: 210px;
            overflow: hidden;
            height: 108px;
            .aritical_top{
                &::after{
                    content: '';
                    display: block;
                    height: 0;
                    clear: both;
                }
                h5{
                    font-weight: 800;
                    line-height: 20px;
                    padding-bottom: 2px;
                    float: left;
                    font-size: 100%;    
                }
                a{
                    float: right;
                    width: 45px;
                    color: #666;
                    height: 22px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .aritical_bot{
                &::after{
                    content: '';
                    clear: both;
                    height: 0;
                    display: block;
                }
                li{
                    line-height: 22px;
                    height: 22px;
                    overflow: hidden;
                    float: left;
                    a{
                        color: #666;
                        float: left;
                        width: 160px;
                        height: 22px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &:hover{
                            color: #f74a4a;
                            text-decoration: underline;
                        }
                    }
                    i{
                        float: right;
                        width: 40px;
                        font-style: normal;
                        color: #999;
                        text-align: left;
                    }
                }
            }
        }
    }
}
#content1er{
    margin-bottom: 20px;
    #content1{
        @include head(1190px,324px);
        #content1_left{
            width: 950px;
            float: left;
            overflow: hidden;
            .content1_left_bot{
                width: 960px;
                height: 290px;
                background: #fff;
                &::after{
                    content: '';
                    display: block;
                    height: 0;
                    clear: both;
                }
                dl{
                    float: left;
                    padding:22px 30px;
                    line-height: 22px;
                    width: 256px;
                    height: 100px;
                    border-right: 1px solid #f3f4f6;
                    border-bottom: 1px solid #f3f4f6;
                    position: relative;
                    dt{
                        float: left;
                        margin-top: 10px;
                        img{
                            width: 80px;
                            height: 67px;
                            display: block;
                        }
                    }
                    dd{
                        margin-left: 94px;
                       
                        p{
                            height: 22px;
                            overflow: hidden;
                            a{
                                color: #3a3f4a;
                                &:hover{
                                    color: #f74a4a;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        #content1_right{
            width: 230px;
            float: right;
            .content1_left_top{
                s{
                    background: url('../img/icon.png') no-repeat -60px -73px;
                }
            }
            .content1_right_bot{
                width:230px;
                background: #fff;
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                    height: 0;
                }
                dl{
                    width: 190px;
                    height: 280px;
                    margin: 0 auto;
                    padding-top:10px;
                    line-height: 22px;
                    position: relative;
                    .djms{
                        position: absolute;
                        top: 5px;
                        left: -10px;
                        width: 23px;
                        height: 69px;
                        color: #fff;
                        line-height: 15px;
                        text-align: center;
                        font-weight: 800;
                        font-size: 14px;
                        padding-top: 2px;
                        background: url('../img/bg.png') no-repeat  -60px -160px;
                    } 
                    dt{
                        img{
                            display: block;
                            height: 162px;
                            width: 190px;
                            margin-bottom: 5px;
                        }
                    }
                    dd{
                        p{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            #time_daojishi{
                                .num_bg{
                                    font-weight: bold;
                                    color: #fff;
                                    padding: 0 5px;
                                    border-radius: 2px;
                                    background: #7f8b99;
                                    margin: 0 3px;
                                    font-style: normal;
                                }
                            }
                        }
                        a{
                            width: 190px;
                        }
                    }
                }
            }
        }
        .content1_left_top{
            height: 24px;
            line-height: 24px;
            margin-bottom: 10px;
            s{
                display: block;
                float: left;
                margin-right: 3px;
                background: url('../img/icon.png') no-repeat -30px -73px;
                width: 26px;
                height: 24px;
            }
            em{
                font: 18px/24px 'Microsoft Yahei';
            }
        }
        .buy_btn{
            display: inline-block;
            background: #f74a4a;
            color: #fff;
            border-bottom: 2px solid #e43333;
            text-align: center;
            line-height: 26px;
            height: 25px;
            width: 90px;
            margin-top: 4px;
            overflow: hidden;
            &:hover{
                background: #f12828;
            }
        }
        .red{
            color: #f74a4a;
        }
        &::after{
            content:'';
            display: block;
            height: 0;
            clear: both;
        }
    }
    
}